<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <form action="/result" method="post">
        {% csrf_token %}
        <div class="container">
            <div>
                <label for="name">Your Name</label>
                <input type="text" name="name" id="user_name">
            </div>
            <div>
                <label for="location">Dojo Location</label>
                <select name="location" id="location">
                    <option value="San Jose">San Jose</option>
                    <option value="Dallas">Dallas</option>
                </select>
            </div>
            <div>
                <label for="language">Favorite Language</label>
                <select name="language" id="language">
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                </select>
            </div>
            <div>
                <label for="comment">Comment (optinal)</label></br>
                <textarea name="comment" id="comment" cols="80" rows="7"></textarea>
            </div>
            <div>
                <button type="submit">Button</button>
            </div>
        </div>
    </form>
</body>
</html>