<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Author</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .container{
        display: flex;
        justify-content: space-around;
    }
</style>
<body>
    <div class="container">
      <div>
        <form action="/add_author" method="post">
            {% csrf_token %}
            <h1>Add an Author</h1>
            <div class="form-group col-10">
              <label for="first_name">First Name</label>
              <input type="first_name" name="first_name" class="form-control" id="first_name" placeholder="First Name..">
            </div>
            <div class="form-group col-10">
                <label for="last_name">Last Name</label>
                <input type="last_name" name="last_name" class="form-control" id="last_name" placeholder="Last Name..">
              </div>
            <div class="form-group col-10">
              <label for="note">Notes</label>
              <input type="text" name="note" class="form-control" id="note">
              <button type="submit" class="btn btn-primary mb-2 mt-2">Add</button>
            </div>           
          </form>
          <form action="/delete_book" method="post">
            {% csrf_token %}
          <div class="form-group col-10">
              <input type="text" name="author_id" class="form-control" id="author_id" placeholder="ID.."/>
              <button type="submit" class="btn btn-danger mb-2 mt-2">Delete</button>
            </div>
          </form>
      </div>
          <table class="table table-sm col-5 mt-3">
            <tr class="table-primary">
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            {% for author in authors %}
            <tr class="table-danger">
                <td>{{author.id}}</td>
                <td>{{author.first_name}} {{author.last_name}}</td>
                <td><a href="/author/{{author.id}}">View</a></td>
            </tr>
            {% endfor %}
          </table>
    </div>
</body>
</html>