<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground</title>
  </head>
  <style>
    h1 {
      text-align: center;
      padding: 30px;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 80%;
    }
    .box {
        background-color: {{color_box}};
        width: 120px;
        height: 120px;
        margin: 10px;
        border: 1px solid black;
    }
  </style>
  <body>
    <h1>Welcome</h1>
    <div class="container">
      {% for i in range(num_box) %}
      <div class="box"></div>
      {% endfor %}
    </div>
  </body>
</html>
