<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Full Name</th>
      </tr>
      {% for user_name in user %}
      <tr>
        <td>{{ user_name['first_name'] }}</td>
        <td>{{ user_name['last_name'] }}</td>
        <td>{{user_name['first_name'], user_name['last_name'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
